:root {
    --background-color: #202020;
    --secondary-background-color: #FFFFFF;
    --first-font-family: "Roboto" sans-serif;
    --secondary-font-family: "Montserrat" sans-serif;
}
body {
    background: var(--background-color);
    color: white;
    text-align: center;
    padding: 3px;
}
.box {
    display: flexbox;
    align-items:center;
    justify-content: center; 
margin-top: 100px;
}
        .logo {
            text-align: left;
            max-height: 40px;
        }
   .nav ul {
       margin: 0;
       padding: 0;
       text-align: right;
   }
   .navbar a {
    color: var(--secondary-background-color);

   }
   .nav-item {
    font-family: var(--secondary-font-family);
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
   }
   .nav li {
    display: inline;
    list-style: none;

   }
   .nav li a {
    color: var(--secondary-background-color);
    text-decoration: none;
   }
   .active {
    color: var(--secondary-background-color);
   }
.home h2 {
    font-family: var(--first-font-family);
    font-size: 35px;
    line-height: 2;
}
.home h1 {
    font-family: var(--first-font-family);
    font-size: 76px;
    line-height: 2;

}
h4 {
    font-size: 48px;
}
.home p {
    font-family: var(--first-font-family);
    font-size: 35px;
    line-height: 2;

}
.btn {
    background-color: #FFFFFF;
        border-radius: 50px;
        font-family: var(--secondary-font-family);
        font-weight: 600;
        line-height: 3;
        margin-top: 20px;
        padding: 20px 20px;
        width: 200px;
    }
    .work
    {
        font-size: 38px;
        font-weight: 400;
    }
    .index-container 
    {
        text-align: right;
    }
    .container p {
        font-size: 24px;
        display: block;
        text-align: right;
    }
    .project-description {
        padding: 120px 60px    
    
    }
    footer .email-link {
        color: var(--secondary-background-color);
        font-size: 24px;
        margin-top: 16px;
        text-decoration: none;
    }
    footer .email-link:hover {
        color: #b8b8fc;
    }
    footer .social-links a {
        background: var(--secondary-background-color);
        border-radius: 50%;
        color: var(--background-color);
        font-size: 18px;
        margin: 0 20px;
        padding: 10px 14px;
        transition: all 15ms ease-in-out;
    }
    footer .social-links a:hover {
        background: var(--background-color);
        color: #b8b8fc;
    }
    footer {
        line-height: 3;
    }
    footer .contact-box {
        background: #2d2b2b;
        border-radius: 10px;

        padding: 30px 120px;
    }
    @media (max-width: 900px) {
        .project-description {
            padding: 0;
            text-align: center;
        }
    }
    .about-section-container {
        text-align: left;
    }
    .about-section {
        padding: 160px 20px;
    }
    .about-section h1 {
        font-size: 64px;
        line-height: 80px;
        padding:  10px 20px 16px 0px;
        text-align: left;
    }
    .about-section h2 {
        padding-bottom: 10px;
        text-align: left;
    }
    .about-section p {
        font-family: var(--first-font-family);
        text-align: left;
    }
    .imagecontact {
        border-radius: 30px;
        height: 80%;
    }
    .content h3 {
        font-size: 30px;
        font-family: var(--first-font-family);
        line-height: 2;
    
    }
    .content p {
        font-size: 18px;
        margin: 0;
        padding: 0;
    }
    .works {
        max-width: 30%;
    }
    .contact h1 {
        font-size: 56px;
    }